.fog-transition {
  position: relative;
  width: 100%;
  min-height: 100vh;
}

.fog-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 9999;
  pointer-events: none;
  opacity: 0;
  transition: opacity .5s ease-in-out;
}

.fog-gif {
  width: 100%;
  height: 100%;
  object-fit: cover;
  mix-blend-mode: screen;
}


.fog-transition.fadeOut .fog-overlay {
  opacity: 1;
}

.fog-transition.fadeIn .fog-overlay {
  opacity: 0;
}

/* Responsive */
@media (max-width: 768px) {
  .fog-overlay {
    background: rgba(13, 12, 15, 0.7);
  }
  
  .fog-gif {
    opacity: 0.7;
  }
  
  .fog-message {
    font-size: 1.2rem;
    width: 80%;
  }
}